/* Header */
.header {
  background-color: #f0f0f0;
  padding: 20px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

nav a:hover {
  color: #000;
}

.searchBox {
  display: flex;
}

.inputBox {
  padding: 5px;
  border: 1px solid #ccc;
}

.searchBtn {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

/* Main */
.main {
  margin: 20px;
}

.artwork-details {
  display: flex;
  align-items: center;
}

.artwork-details img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.details {
  flex: 1;
}

.details h2 {
  font-size: 24px;
  margin: 0;
}

.details p {
  margin: 5px 0;
}

.details ul {
  padding: 0;
  margin: 10px 0;
}

.details ul li {
  list-style-type: none;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: red;
}

.write-review form {
  margin-top: 20px;
}

.write-review label,
.write-review textarea {
  display: block;
  margin-bottom: 10px;
}

.write-review textarea {
  height: 100px;
  resize: vertical;
}

.write-review button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.reviews {
  margin-top: 20px;
}

.reviews h3 {
  font-size: 18px;
}

.reviews ul {
  padding: 0;
  margin: 10px 0;
  list-style-type: none;
}

.reviews li {
  margin-bottom: 20px;
}

.review-header h4,
.review-header p {
  margin: 0;
}

.review-actions button {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

/* 脚注样式 */
footer {
  background-color: #000; /* 黑色背景 */
  color: #fff; /* 白色文字 */
  padding: 10px;
  text-align: center;
}